.banner {
  background-image: url("./home.jpg");
  display: flex;
  align-items: center;
}

.banner__search{
  flex: 1;
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.banner__date {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.banner__info {
  flex: 0 0 auto; /* Take up the minimum space needed */
  margin-right: 20px;
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__searchButton {
  margin-right: 10px;
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #6282a0 !important;
}

.banner__searchIcon {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.banner__info > button {
    background-color: #6282a0;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #6282a0;
  }
  

.banner__info > h5 {
    margin-top: 10px;
}