.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header__tabs {
    display: flex;
    align-items: center;
}

.header__link {
    color: black; /* Default color */
    margin-right: 20px; /* Adjust as needed */
    text-decoration: none;
}

.header__link.active {
    color: #6282a0; /* when selected */
    font-weight: bold;
    text-decoration: underline;
}

/* Apply margin to all links except the last one */
.header__link:last-child {
    margin-right: 0;
}


.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 20px;
}

.header__guideButton {
  background-color: white;
  text-transform: inherit !important;;
  color: #6282a0 !important;
  border: none;
}

.avatar_dropdown{
    position: absolute;
    top: 75px;
    right: 1.5%;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown_item{
    text-transform: inherit !important;
    color: #6282a0 !important;
    width: 100%;
}