/* Container */
.form-container {
  width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Form title */
.form-title {
  color: #6282a0;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  color: #6282a0;
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea{
  height: 300px;
}

/* Submit button */
.form-submit {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #6282a0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.form-submit:hover {
  background-color: #21477c;
  color: #6282a0;
}