.profile {
  max-width:1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.paragraphs {
    display: flex;
    flex-direction: column;
}

.review_title{
    margin-left: 10px
}

.reviews{
    max-height: 500px;
    overflow: auto;
}
.profile h2 {
  margin-bottom: 20px;
}

.profile div {
  margin-bottom: 15px;
}

.profile strong {
  font-weight: bold;
  color: #6282a0;
}

.profile ul {
  list-style: none;
  padding: 0;
}

.profile li {
  margin-bottom: 5px;
  display: inline-block;
  width: 25%; /* Set width to 25% for four items per row */
}
