.profile {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile h2 {
  margin-bottom: 20px;
}

.profile div {
  margin-bottom: 15px;
}

.profile strong {
  font-weight: bold;
  color: #6282a0;
}

.profile ul {
  list-style: none;
  padding: 0;
}

.profile li {
  margin-bottom: 5px;
  display: inline-block;
  width: 25%; /* Set width to 25% for four items per row */
}
