.textcard {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  width: 600px;
}

.textcard:hover {
  transform: scale(1.07);
}
.textcard__image{
    height: 200px;
}

.textcard__image > img {
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}

.textcard__details >h4{
  font-size: 16px;
  font-weight: 400;
}
.textcard__info {
    margin-top: -9px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1;
  }

  .textcard__info > h2 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .textcard__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
  }

.textcard__description{
    height: 100px;
}
.textcard__stars {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 40px;
    bottom: 0;
}

.textcard__star {
    color: orange;
}